p {
  margin: 1em 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}
